<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>

  <body>
    <h1>Edit <%= items.name %> </h1>
    <form action="/store/<%=items._id%>?_method=PUT" method="post">
      <div class="form">
      Name: <input type="text" name="name" value="<%=items.name%>" /><br />
      </div>
      <div class="form">
      Description: <input class="desc" type="text" name="description" value="<%=items.description%>" /><br />
      </div>
      <div class="form">
      Image: <input type="text" name="img" value="<%=items.img%>" /><br />
      </div>
      <div class="form">
      Price: $ <input type="text" name="price" value="<%=items.price%>" /><br />
      </div>
      <div class="form">
      Quantity: <input type="text" name="qty" value="<%=items.qty%>" /><br />
      </div>
      <input class="button" type="submit" value="Submit Changes" />
    </form>
  </body>
</html>