<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <nav>
        <a href="/store/new">Add a New Item</a>
      </nav>
    <h1> <span>Mongoose Store</h1>


    <ul class="container">
      <% items.forEach(item => { %>
      <li>
        <a class="name" href="/store/<%=item._id; %>"> <%=item.name; %> </a> <br>
        <a class="image" href="/store/<%=item._id; %>"><img src="<%=item.img %>"> </a><br>
        <form action="/store/<%= item.id %>?_method=DELETE" method="POST">
          <input class="button delete" type="submit" value="DELETE" />
          <a class="button edit" href="/store/<%=item._id %>/edit">EDIT</a>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>