<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body class="showbody">
    <nav class="nav">
      <a href="/store">Back to All Items</a> 
      <a href="/store/<%= items._id %>/edit  "> Edit <%= items.name %></a>
    </nav>

    <h1><%=items.name %></h1> <br>
    <div class="show-page">
    <div class="show">
    $<%= items.price%> <br>
    <%= items.description%> <br>
    <img src="<%= items.img %>"> <br>
    <p>Quantity Remaining: <a id="clicks"><%= items.qty %> </a></p>
     </div>
    </div>
   <!-- need to figure out how to get the button to hide if item added at zero qty -->

<script>
  let clicks= document.getElementById("clicks").innerText
  function onClick(){
    if(clicks >=2){
    clicks -= 1;
    document.getElementById("clicks").innerHTML = clicks
    } else{
      document.getElementById("clicks").innerText = "SOLD OUT"
    let element = document.getElementById("buyButton");
    element.setAttribute("hidden", "hidden");
   }
  }
 
</script>
<div class="showbutton">
<button class="button" type="button" id="buyButton" onClick="onClick()">BUY
</button>

<form action="/store/<%= items.id %>?_method=DELETE" method="POST">
  <input class="button" type="submit" value="DELETE" />
 </div>
  </body>
</html>

